@model IEnumerable<corekatmanproje.Models.Title>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Title List</h1>
<br />
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-danger">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.titleID">Edit</a> |
                
                <a asp-action="Delete" asp-route-id="@item.titleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
